body {
    font-family: 'Poppins', sans-serif;
    background-color: linen;
       margin: 0;
       width: 100%;
       
h1 {
     font-size: 2rem;
     font-weight: bold;
     text-align: center;
     text-transform: uppercase;
}   
       
}
main{
     width: 900px;
     justify-content: center;
     max-width: 1000px;
     margin: 0 auto;
     .imgfondo {
          position: fixed;
          opacity: 0.5;
          width: 200%;
          left: -2rem;

     }
     .titulo{
          @include titulos
     }
     .parrafo{
          @include parrafos
     }
}