.header {
    display: flex;
    flex-direction: row;
    background-color: white;
    flex: auto;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 5rem;
    margin-top: -5rem;
    position: fixed;
    z-index: 10;
    
    .imagen {
        width: auto;
        height: 4rem;
        align-items: center;
        margin-left: 7vw;
        
     
        img {
        width: auto;
        height: 100%;
        }
         .logov {
             display: none;
         }
    }   
    .header__pages {
    margin: 0;
    height: 4rem;;
    justify-content: center;
        nav {
            display: flex;
            flex-direction: row;
            font-size: 12px;
            margin-right: 8vw;



            li {
                a {
                padding-left: 4px;
                padding-right: 4px;
                color: black;
                text-decoration: none;
                } 
            }

        }
    }
}   
               
.header__nav {
    display: flex;
    flex-direction: row;
    font-size: 12px;
    margin-top: 2rem; 
    
    .nav__button {
        display: none;
        background-color:rgb(194, 194, 194);
        border-radius: 5px;
        text-decoration: none;
        
    }
    li{
        a {
           
        }
        a:hover {
            font-weight: 12px;
            background-color: white;
            border-radius: 5px;
            border-width: 1.5px;
            border-style: solid;
            border-color: black;
            
           
        }
    } 
    
}

.btn-open-sidebar {
    display: none;
}
.btn-close-sidebar {
    display: none;
}
.header__pages {
    margin: 0;
}