.presentacion {
    display: flex;
    flex-direction: row;
    position: relative;
    @include section ( 1000px, 0rem);
    align-items: center;
    .zoom-in {
        display: none;
    }
    .flip-left {
        display: none;
    }
    div {
        max-width: 100%;
        
    }
    .presentacion__imagen {
        width: 100%;
        height: auto;
        padding: 0.5rem;
        
    }
}    




.container{
    @include section ( 1000px, 0rem);
    width: 95%;
    margin-top: 3rem;
    
    
}

.carousel-indicators{
    color: black;
}