
// mixin section aplicado solo en inicio
@mixin section ( $max-width, $Padding) {
    background-color: $csection;
    border-radius: 5px;
    text-align: center;
    width: 100%;
    opacity: 1;
    max-width: $max-width;
    padding: $Padding;
    margin: 0 auto;
    position: relative;
    padding-top: 2rem;
}

@mixin sectionq {
    padding: 0;
    margin: 0;
    width: 100%;
}

@mixin titulos {
    font-size: 26px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    
}
@mixin parrafos {
    font-size: 13px;
    font-weight: 700;
    text-align: justify;
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: $cfondot;
    border-radius: 35px 0px 35px 0px;
    -moz-border-radius: 35px 0px 35px 0px;
    -webkit-border-radius: 35px 0px 35px 0px;
    border: 2px solid $cfondo;
}

